
body{
    font-style: verdana;     
}

.header ul li a{
    color:black;      
}
.header ul li a:hover{
    color:#727272;    
}
.header ol li a{
    color: black;
}

.title h1{
    margin-left:20PX;
    margin-bottom: 50px;
    font-size: 40px;
    color:#727272;
}
.subtitle h3{
    margin-left: 25px;
    margin-bottom:50px;
    color:#727272;
    font-size: 30px;
}
.carousel{
    width: 100%;
    max-width:1200px;
    height: 450px;
    margin:50px auto;
    margin-bottom: 50px;
    /* outline: 1px solid red; */
}
.carousel ul{
    width: 100%;
    height: 450px;
    list-style: none;
    display: flex;
    justify-content: center;
    
 }
.carousel li{
    background-size: cover;
    background-position: center center;
    opacity: 1;
    transition: 1s;
    
    
    /* outline: 1px solid red; */
}

.carousel li p{
    display:block;
    margin: 0 auto;
    max-width:200px;
    opacity:0;
    overflow: hidden;
    color:black;
    line-height: 2;
    
   
}
.carousel ul li p:hover{
    width: 200px;
    height: 450px;
    opacity: 1;
    flex-grow:4; 
}


.pic{ 
    flex-grow:1;   
    position: relative;
    background-image: none !important;
    
}

.pic img{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
object-fit: cover;
object-position: center;
}

.pic::after{
    content:"";
    position: absolute;
    width:100%;
    top:0;
    left:0;
    height:100%;
    z-index: 1;
    display: block;
    background:rgba(255,255,255,0.7);
    opacity: 0;
}

.pic:hover {
    flex-grow: 7 !important;
}

.pic:hover::after  {
    opacity: 1;

}

.pic:hover p  {
    opacity: 1;

}

.pic p{
    position: relative;
    z-index: 2;

}
.carousel .pic2{ 
    background-image: url(../img/guide/guide2.png);
    flex-grow:1;   
    
}
.carousel .pic3{ 
    background-image: url(../img/guide/guide3.png);
    flex-grow:1;   
    
    
}
.carousel .pic4{ 
    background-image: url(../img/guide/guide4.png);
    flex-grow:1;   
}
.pic1 p{
    overflow: hidden;
}
@media (max-width:767px){
    .carousel{
        width: 300px;
        height: 1500px;
    }
    .carousel ul{
        display: block;
    }
    .carousel li{
        margin-bottom: 50px;
    }
    .carousel li p{
        opacity: 1;
    }
    .pic img{
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    .pic1 p{
        overflow:auto;
    }
    .carousel ul li p:hover{
        display: block;
        flex-grow: 0;
    }
    .pic:hover {
        flex-grow: 1 !important;
    }
    .pic::after{
        opacity: 1;
    }
    
}

@media (min-width: 768px) and (max-width: 991px){
    .carousel{
        width: 600px;
        height: 1500px;
    }
    .carousel ul{
        display: block;
    }
    .carousel li{
        margin-bottom: 50px;
    }
    .carousel li p{
        opacity: 1;
    }
    .pic img{
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    .pic1 p{
        overflow:auto;
    }
    .carousel ul li p:hover{
        display: block;
        flex-grow: 0;
    }
    .pic:hover {
        flex-grow: 1 !important;
    }
    .pic::after{
        opacity: 1;
    }
    
}
