
*{
    box-sizing: border-box;
}
html,
body {
    position: relative;
    height: 100%;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #000;
    margin: 0;
    padding: 0;
}
.header{
  position: fixed;
  z-index: 2;
}

.swiper-container {
    width: 100%;
    height: 100%;
    
}
.swiper-slide {
    
    font-size: 16px;
    position: relative;
    
  
}
@media (max-width:767px){

.header ul li a:hover{
    color:black;
}


.header ol li a:hover{
  color:black;
}
}
@media screen and (min-width: 768px) and (max-width: 991px){}
@media screen and (min-width: 992px) and (max-width: 1199px){}
@media screen and (min-width: 1200px){}
/* --------------------slide 1--------------------------- */
.slide1 {
  background-image: url(../img/home/homepage1.png);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (max-width:767px){

}
@media screen and (min-width: 768px) and (max-width: 991px){}
@media screen and (min-width: 992px) and (max-width: 1199px){}
@media screen and (min-width: 1200px){}
/* -----------------------slide 2------------------------------ */
.slide2{
  background-color: #727272;
  background-image: url(../img/home/BVLGARI-new.png);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;
  
}

@media screen and (max-width:767px){

} 
@media screen and (min-width: 768px) and (max-width: 991px){}
@media screen and (min-width: 992px) and (max-width: 1199px){}
@media screen and (min-width: 1200px){}

/* ------------------------slide 3------------------------------ */
.slide3{
  background-color:#929292;
  background-image: url(../img/home/DIOR-new.png);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;

}

@media (max-width:767px){}
@media screen and (min-width: 768px) and (max-width: 991px){}
@media screen and (min-width: 992px) and (max-width: 1199px){}
@media screen and (min-width: 1200px){}
/* -------------------------slide 4------------------------------ */
.slide4{
  background-image: url(../img/home/chanel-new.png);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;

}

@media (max-width:767px){}
@media screen and (min-width: 768px) and (max-width: 991px){}
@media screen and (min-width: 992px) and (max-width: 1199px){}
@media screen and (min-width: 1200px){}
/* -------------------------slide 5------------------------------- */
.slide5{
  background-image: url(../img/home/ck-new.png);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: 0 0;
}

@media (max-width:767px){}
@media screen and (min-width: 768px) and (max-width: 991px){}
@media screen and (min-width: 992px) and (max-width: 1199px){}
@media screen and (min-width: 1200px){}