@import url('reset.css');
*{
    box-sizing: border-box;
}
body{
  /* font-style: verdana;
  background-color:#000; 
	position:relative;
	display:inline-block;
	width:100%;
	height:100%; */
/* -------------------流星---------------- */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  /* overflow: hidden; */

}
.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: pink;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  z-index: 4;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.12em;
  --top-offset: 49.75vh;
  --fall-duration: 10.574s;
  --fall-delay: 5.237s;
}
.star:nth-child(2) {
  --star-tail-length: 7.49em;
  --top-offset: 20.46vh;
  --fall-duration: 10.318s;
  --fall-delay: 4.035s;
}
.star:nth-child(3) {
  --star-tail-length: 5.02em;
  --top-offset: 32.42vh;
  --fall-duration: 8.054s;
  --fall-delay: 7.641s;
}
.star:nth-child(4) {
  --star-tail-length: 7.26em;
  --top-offset: 17.17vh;
  --fall-duration: 9.672s;
  --fall-delay: 1.034s;
}
.star:nth-child(5) {
  --star-tail-length: 5.15em;
  --top-offset: 46.34vh;
  --fall-duration: 8.082s;
  --fall-delay: 8.421s;
}
.star:nth-child(6) {
  --star-tail-length: 5.04em;
  --top-offset: 98.07vh;
  --fall-duration: 10.731s;
  --fall-delay: 9.412s;
}
.star:nth-child(7) {
  --star-tail-length: 6.67em;
  --top-offset: 90.72vh;
  --fall-duration: 9.149s;
  --fall-delay: 9.304s;
}
.star:nth-child(8) {
  --star-tail-length: 5.31em;
  --top-offset: 90.13vh;
  --fall-duration: 9.174s;
  --fall-delay: 0.346s;
}
.star:nth-child(9) {
  --star-tail-length: 7.35em;
  --top-offset: 72.98vh;
  --fall-duration: 11.459s;
  --fall-delay: 9.78s;
}
.star:nth-child(10) {
  --star-tail-length: 6.39em;
  --top-offset: 21.43vh;
  --fall-duration: 7.904s;
  --fall-delay: 5.629s;
}
.star:nth-child(11) {
  --star-tail-length: 7.5em;
  --top-offset: 4.4vh;
  --fall-duration: 8.859s;
  --fall-delay: 2.518s;
}
.star:nth-child(12) {
  --star-tail-length: 5.45em;
  --top-offset: 11.26vh;
  --fall-duration: 8.475s;
  --fall-delay: 4.458s;
}
.star:nth-child(13) {
  --star-tail-length: 7.19em;
  --top-offset: 29.44vh;
  --fall-duration: 11.525s;
  --fall-delay: 1.75s;
}
.star:nth-child(14) {
  --star-tail-length: 6.95em;
  --top-offset: 99.67vh;
  --fall-duration: 9.943s;
  --fall-delay: 1.936s;
}
.star:nth-child(15) {
  --star-tail-length: 7.46em;
  --top-offset: 26.84vh;
  --fall-duration: 6.642s;
  --fall-delay: 7.481s;
}
.star:nth-child(16) {
  --star-tail-length: 7.18em;
  --top-offset: 75.84vh;
  --fall-duration: 9.914s;
  --fall-delay: 7.097s;
}
.star:nth-child(17) {
  --star-tail-length: 5.82em;
  --top-offset: 67.49vh;
  --fall-duration: 9.573s;
  --fall-delay: 4.334s;
}
.star:nth-child(18) {
  --star-tail-length: 5.55em;
  --top-offset: 45.1vh;
  --fall-duration: 8.838s;
  --fall-delay: 2.792s;
}
.star:nth-child(19) {
  --star-tail-length: 5.14em;
  --top-offset: 42.63vh;
  --fall-duration: 9.719s;
  --fall-delay: 3.918s;
}
.star:nth-child(20) {
  --star-tail-length: 6.63em;
  --top-offset: 88.5vh;
  --fall-duration: 7.841s;
  --fall-delay: 5.82s;
}
.star:nth-child(21) {
  --star-tail-length: 5.45em;
  --top-offset: 99.11vh;
  --fall-duration: 10.844s;
  --fall-delay: 6.863s;
}
.star:nth-child(22) {
  --star-tail-length: 6.91em;
  --top-offset: 23.85vh;
  --fall-duration: 9.218s;
  --fall-delay: 2.074s;
}
.star:nth-child(23) {
  --star-tail-length: 7.37em;
  --top-offset: 80.29vh;
  --fall-duration: 7.265s;
  --fall-delay: 9.121s;
}
.star:nth-child(24) {
  --star-tail-length: 5.78em;
  --top-offset: 50.15vh;
  --fall-duration: 11.051s;
  --fall-delay: 5.03s;
}
.star:nth-child(25) {
  --star-tail-length: 5.35em;
  --top-offset: 11.31vh;
  --fall-duration: 11.266s;
  --fall-delay: 7.18s;
}
.star:nth-child(26) {
  --star-tail-length: 5.32em;
  --top-offset: 27.92vh;
  --fall-duration: 9.894s;
  --fall-delay: 3.929s;
}
.star:nth-child(27) {
  --star-tail-length: 7.04em;
  --top-offset: 20.97vh;
  --fall-duration: 7.695s;
  --fall-delay: 6.87s;
}
.star:nth-child(28) {
  --star-tail-length: 5.83em;
  --top-offset: 33.18vh;
  --fall-duration: 10.953s;
  --fall-delay: 6.815s;
}
.star:nth-child(29) {
  --star-tail-length: 7.08em;
  --top-offset: 95.41vh;
  --fall-duration: 10.93s;
  --fall-delay: 6.39s;
}
.star:nth-child(30) {
  --star-tail-length: 5.63em;
  --top-offset: 41.17vh;
  --fall-duration: 10.87s;
  --fall-delay: 5.076s;
}
.star:nth-child(31) {
  --star-tail-length: 5.29em;
  --top-offset: 85.34vh;
  --fall-duration: 8.949s;
  --fall-delay: 9.878s;
}
.star:nth-child(32) {
  --star-tail-length: 6.04em;
  --top-offset: 39.06vh;
  --fall-duration: 10.39s;
  --fall-delay: 2.254s;
}
.star:nth-child(33) {
  --star-tail-length: 5.46em;
  --top-offset: 71.3vh;
  --fall-duration: 11.219s;
  --fall-delay: 8.508s;
}
.star:nth-child(34) {
  --star-tail-length: 5.49em;
  --top-offset: 84.8vh;
  --fall-duration: 10.954s;
  --fall-delay: 9.322s;
}
.star:nth-child(35) {
  --star-tail-length: 5.2em;
  --top-offset: 48.73vh;
  --fall-duration: 11.925s;
  --fall-delay: 2.388s;
}
.star:nth-child(36) {
  --star-tail-length: 6.22em;
  --top-offset: 4.66vh;
  --fall-duration: 8.514s;
  --fall-delay: 3.008s;
}
.star:nth-child(37) {
  --star-tail-length: 6.99em;
  --top-offset: 73.36vh;
  --fall-duration: 8.547s;
  --fall-delay: 6.909s;
}
.star:nth-child(38) {
  --star-tail-length: 7.29em;
  --top-offset: 36vh;
  --fall-duration: 9.566s;
  --fall-delay: 7.013s;
}
.star:nth-child(39) {
  --star-tail-length: 6.32em;
  --top-offset: 16.56vh;
  --fall-duration: 11.374s;
  --fall-delay: 2.102s;
}
.star:nth-child(40) {
  --star-tail-length: 5.23em;
  --top-offset: 34.1vh;
  --fall-duration: 8.644s;
  --fall-delay: 6.189s;
}
.star:nth-child(41) {
  --star-tail-length: 6.4em;
  --top-offset: 52.08vh;
  --fall-duration: 8.411s;
  --fall-delay: 2.96s;
}
.star:nth-child(42) {
  --star-tail-length: 5.1em;
  --top-offset: 68.54vh;
  --fall-duration: 6.461s;
  --fall-delay: 4.721s;
}
.star:nth-child(43) {
  --star-tail-length: 5.3em;
  --top-offset: 38.44vh;
  --fall-duration: 7.951s;
  --fall-delay: 7.918s;
}
.star:nth-child(44) {
  --star-tail-length: 6.02em;
  --top-offset: 94.58vh;
  --fall-duration: 7.775s;
  --fall-delay: 9.737s;
}
.star:nth-child(45) {
  --star-tail-length: 6.14em;
  --top-offset: 19.17vh;
  --fall-duration: 11.822s;
  --fall-delay: 4.204s;
}
.star:nth-child(46) {
  --star-tail-length: 7.19em;
  --top-offset: 65.53vh;
  --fall-duration: 10.702s;
  --fall-delay: 7.721s;
}
.star:nth-child(47) {
  --star-tail-length: 6.09em;
  --top-offset: 14.18vh;
  --fall-duration: 8.461s;
  --fall-delay: 9.219s;
}
.star:nth-child(48) {
  --star-tail-length: 6.54em;
  --top-offset: 26.75vh;
  --fall-duration: 10.189s;
  --fall-delay: 7.906s;
}
.star:nth-child(49) {
  --star-tail-length: 7.05em;
  --top-offset: 31.59vh;
  --fall-duration: 6.641s;
  --fall-delay: 9.686s;
}
.star:nth-child(50) {
  --star-tail-length: 6.2em;
  --top-offset: 5.21vh;
  --fall-duration: 10.51s;
  --fall-delay: 1.343s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

.wrapper{
    margin: 0 auto;
    /* width: 1200px; */
    /* outline:1px solid red */
    
       
}

.header ul li a{
    color:#fff;       
}
.header ul li a:hover{
    color:#727272;    
}

.header ol li a{
    color:#fff;
    
}

.section1{
    display: flex;
    max-width: 1200px;
    width: 100%;
    height: 700px;
    margin: 0 auto;
    z-index: 1;
    /* outline:1px solid red; */
}
.section1_inner{
    /* outline: 1px solid red; */
    display: flex;
    width: 720px;
    height: 480px;
    margin: 0 auto;
    margin-top: 80px;
    background-image: url(../img/orientalnotepicture/book.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: 1;
    
}

.section1_left{
    width: 50%;
    height: auto;
    padding-bottom: 40%;
    z-index: 1;
    /* outline:1px solid red; */
}
.section1_left img{
    width: 100%;
    margin: 0 auto;
    margin-left: 40px;
    margin-top: 80px;
    z-index: 1;
    /* outline:1px solid red; */
    
}
.section1_right{
    width: 50%;
    /* height: 500px; */
    height: auto;
    padding-bottom: 40%;
    z-index: 100;
    /* outline:1px solid red; */
}
.section1_right h2{
    text-align:center;
    margin-top: 100px;
    margin-bottom: 60px;
    margin-right: 50px;
    font-size: 30px;
    font-weight:bold;
    color:#727272;
    z-index: 1;
}
.section1_right p{
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    margin-left:30px;
    font-size: 16px;
    line-height: 1.6;
    color:#727272;
    z-index: 1;
}

@media (max-width:767px){
  .section1{
    width: 500px;
    height: 800px;
    margin-bottom: 120px;
  }
  .section1_inner{
    background-image: url(../img/orientalnotepicture/parchment.png);
    width: 500px;
    height: 800px;
    display: block;
    margin-bottom: 120px;
  }
  .section1_left{
    width: 500px;
    height: 250px;
  }
  .section1_left img{
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 110px;
  }
  .section1_right{
    width: 500px;
    height: 450px;
  }
  .section1_right h2{
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .section1_right p{
    display: block;
    margin: 0 auto;
  }
}
@media (max-width:500px){
  .section1{
    width: 300px;
    height: 800px;
  }
  
  .section1_inner{
    display: block;
    background-image: url(../img/orientalnotepicture/parchment-min.png);
    background-size: 100% auto;
    width: 300px;
    height: 800px;
  }
  .section1_left{
    width:300px;
    height: 200px;
  
  }
  .section1_left img{
    
  }
  .section1_right{
    width: 300px;
    
  }
  .section1_right h2{
    width:300px;
    
  }
  .section1_right p{
    margin-top: 60px;
  }
}

.footer{
    width: 100% ;
    height: 140px;
    margin:0 auto;
    background-color:#e5e5e5;
    opacity: 1;
    z-index: 1;
}
.footer_left{
    display: flex;
    justify-content: center;
    z-index: 1;
}
.footer_left ul{
    list-style: none;
    display: flex;
    margin-top: 20px; 
    margin-right: 10px;
    margin-bottom: 10px;   
    /* outline: 1px solid red; */
    z-index: 1;
}
.footer_left li{
    margin-left: 10px;
    z-index: 1;
    /* outline: 1px solid red;     */
}
.fa-facebook-official{
    color:#727272; 
    z-index: 1; 
       
}
.fa-instagram{
    color:#727272; 
    z-index: 1;
}
.fa-twitter-square{
    color:#727272; 
    z-index: 1;
}

.footer_right p{
    text-align:center;
    margin-bottom: 10px;
    color: black;  
    z-index: 1;   
}
.footer_bottom p{
    text-align:center;
    color: black;  
    z-index: 1;
}
