@import url('reset.css');
*{
    box-sizing: border-box;
}
body{
    font-style: verdana;
    background-image: url(../img/woodynotepicture/main\ background-3.png);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-position: center center;     
}
/*.wrapper{
    margin: 0 auto;
    width: 1200px;
    outline:1px solid red
    
}*/
.header ul li a{
    color:#fff;
    
       
}
.header ul li a:hover{
    color:#CC9362;    
    
}


.header ol li a{
    color: #fff;
}

.section1{
    margin-top: 100px;
    max-width: 1200px;
    width: 100%;
    height: 500px;
    position: relative;
    margin-bottom: 200px;
    /* outline:1px solid red */

}
.section1_top{
    display: block;
    max-width: 1200px;
    width: 100%;
    height: 100px;
}
.section1_top h1{
    text-align: center;
    font-size: 100px;
    max-width: 375px;
    width: 100%;
    margin:0 auto;
    color:#E9EDD4;
    /* z-index: 2; */
}
.section1_mid{
    display: block;
    max-width: 1200px;
    width: 100%;
    height: 350px;
}
.section1_mid img{
    margin:0 auto;
    display: block;
    /* margin-top: -70px; */
    z-index: 1;
    /* outline:1px solid red; */
}
.section1_bottom{
    display: block;
    max-width: 1200px;
    width: 100%;
    height: 200px;
    margin-top: -50px;
}
.section1_bottom h2{
    text-align: center;
    font-size: 100px; 
    color:#E9EDD4;
    /* z-index: 2; */
}
@media (max-width:767px){
    .section1{
        margin-bottom: 100px;
    }
    .section1_top h1{
        font-size: 70px;
    }
    .section1_bottom h2{
        font-size: 50px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .section1_top h1{
        font-size: 80px;
}
    .section1_bottom h2{
        font-size: 80px;
}
}
@media screen and (min-width: 992px) and (max-width: 1199px){}
@media screen and (min-width: 1200px){}

.section2{
    position: relative;
    max-width: 1200px;
    width: 100%;
    height: 400px;
    /* outline:1px solid red; */

}
.section2_left{
    display: block;
    background-color:#DEFAD8;
    max-width: 700px;
    width: 100%;
    height: 300px;
    /* padding-left: calc(100% - 1150px); */
    margin:0 auto;
    border-radius: 20px;
}
.section2_left_inner{
    max-width:700px;
    width: 100%;
    padding-left: calc(100% - 950px);
}
.section2_left h2{
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 70px;
    max-width:600px;
    width: 100%;
    color:#BD8A49;
    font-size: 30px;
}  
.section2_left p{
    padding-left: 70px;
    color:#BD8A49;
    font-size: 16px;
    max-width:600px;
    width: 100%;
    line-height: 2;
}
/* .section2_right img{
    position:absolute;
    max-width: 300px;
    width: 100%;
    right: 130px;
    bottom: 90px;
    border-radius: 20px;
} */
@media (max-width:767px){
    .section2{
        height: 400px;
    }
    .section2_left{
        height: 400px;
    }
    .section2_left p{
        padding-left: 0px;
    }
    .section2_right img{
        display:none;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .section2{
        height: 400px;
    }
    .section2_left{
        margin: 0 auto;
    }
    .section2_right img{
        display:none;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){}
@media screen and (min-width: 1200px){}
.section3{
    position:relative;
    max-width: 1200px;
    width: 100%;
    height:350px;
    /* outline:1px solid red; */
}
.section3 h2{
    text-align:center;
    font-size:40px;
    color:#BD8A49;
}
.section3_inner{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.circle1{
    background-image: url(../img/woodynotepicture/tree\ ring.png);
    display: block;
    width: 200px;
    height: 200px;
    border-radius:50%;
    /* outline:1px solid red; */
}

.circle1 p{
    text-align: center;
    padding-top: 80px;
    font-weight: bold; 
}
.circle1 p+p{
    text-align: center;
    padding-top: 20px;

}
.circle2{
    background-image: url(../img/woodynotepicture/tree\ ring.png);
    width: 200px;
    height: 200px;
    border-radius:50%;
   
    /* outline:1px solid red; */
}
.circle2 p{
    text-align: center;
    padding-top: 80px;
    font-weight: bold;  
}
.circle2 p+p{
    text-align: center;
    padding-top: 20px;
}

.circle3{
    background-image: url(../img/woodynotepicture/tree\ ring.png);
    width: 200px;
    height: 200px;
    border-radius:50%;
    /* outline:1px solid red; */
}
.circle3 p{
    text-align: center;
    padding-top: 80px;
    font-weight: bold; 
}
.circle3 p+p{
    text-align: center;
    padding-top: 20px;
}
@media (max-width:767px){
    .section3{
        height: 100%;
    }
    .section3_inner{
        display: block;
    }
    .circle1{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .circle2{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .circle3{
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){}
@media screen and (min-width: 992px) and (max-width: 1199px){}
@media screen and (min-width: 1200px){}
.section4{
    position:relative;
    height:400px;
    margin-bottom: 100px;
    display: flex;
    justify-content:center;
    /* outline:1px solid red; */
}
.section4_left{
    display: block;
    max-width: 250px;
    width: 100%;
}
.section4_left img{
    display: block;
}
.section4_right{
    display: block;
    width: 300px;
    height: 400px;
    background-color: #DEFAD8;
    
    border-radius: 20px;

}
.section4_right p{
    font-size: 20px;
    color:#BD8A49;
    text-align: center;
    margin-top: 100px;
    line-height: 1.6;

}

.section4_right .cart{
    display: block;
    margin:0 auto;
    background-color: #fff;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    margin-top:50px;
}
.section4_right .cart a{
    text-decoration: none;
    color:#BD8A49;
}
@media (max-width:767px){
    .section4{
        display: block;
        height: 100%;
    }
    .section4_left {
        margin: 0 auto;
    }
    .section4_right{
        margin: 0 auto;
        height: 300px;
    }
    .section4_right p{
        margin-top: 50px;
        padding-top: 50px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .section4{
        margin-bottom: 50px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){}
@media screen and (min-width: 1200px){}


.ig_carousel{
    /* margin-left: 20px; */
    max-width: 1200px;
    width: 100%;
    margin:0 auto;
    margin-bottom: 50px;
    /* outline:1px solid red */
}
.ig_carousel h1{
    font-size:68px;
    color:#BD8A49;
    /* margin-left: 20px; */

}
.ig_carousel ul{
    display: flex;
    margin-top: 30px;
    /* outline:1px solid red */
}
.ig_carousel li{
    flex-grow: 1;
}
.ig_carousel li img{
    border-radius: 50%;
    max-width: 250px;
    width: 100%;
}
.ig_carousel ul a{
    margin-top: 110px;
}
@media (max-width:767px){
    .ig_carousel h1{
        margin-left: 0;
        font-size: 60px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){}
@media screen and (min-width: 992px) and (max-width: 1199px){}
@media screen and (min-width: 1200px){}
.fa-chevron-right{
    color:#BD8A49;
}

.footer{
    width: 100%;
    height: 140px;
    margin:0 auto;
    /* margin-left: 20px; */
    background-color: #BD8A49;
    
}
.footer_left{
    display: flex;
    justify-content: center;
}
.footer_left ul{
    list-style: none;
    display: flex;
    margin-top: 20px; 
    margin-right: 10px;
    margin-bottom: 10px;   
    /* outline: 1px solid red; */
}
.footer_left li{
    margin-left: 10px;
          
    /* outline: 1px solid red;     */
}
.fa-facebook-official{
    color:#727272;  
       
}
.fa-instagram{
    color:#727272; 
}
.fa-twitter-square{
    color:#727272; 
}

.footer_right p{
    text-align:center;
    margin-bottom: 10px;  
       
}
.footer_bottom p{
    text-align:center;
   
}




